@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {
  background-color: #f0f0f0;
  font-family: "Amatic SC", Verdana;
}

h1 {
  text-align: center;
  justify-content: center;
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

.candle-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#flame {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* #status {
  margin-top: 20px;
  font-size: 18px;
} */
